* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #171710;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  text-align: center;
  color: #B0B7C0;
  font-size: 1.5em;
  font-weight: bolder;
  gap: 3px;
  cursor: pointer;
}